@font-face {
    font-family: "calcFont";
    src: url("calculator.ttf");
}

body{
    margin: 0px;
    padding: 50px;
    background-color: #446CB3;
    color: #FFF;
    font-size: 80px;
    font-weight: bolder;
}

#info{
    font-family:"calcFont";
}
